In [31]:
from sklearn.linear_model import LinearRegression 
import pandas as pd

In [33]:
df = pd.read_csv("C:/Users/Dell/Desktop/Yazılım/Jupyter Notebook/Veriler/Audi_A1_listings.csv")
df.head()

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642
3,11,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0,https://www.autotrader.co.uk/car-details/20221...,3745.000000,41,449,83,573
4,12,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0,https://www.autotrader.co.uk/car-details/20220...,3700.000000,12,452,85,549

In [35]:
df.drop(columns = ["index","href","MileageRank","PriceRank","PPYRank","Score","Type","PPY"],inplace=True)
df

,Year,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0
3,2014.0,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0
4,2014.0,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0
...,...,...,...,...,...,...,...,...
466,2014.0,40195.0,1.4L,138.067061,Automatic,Petrol,3,11275.0
467,2020.0,26218.0,1.0L,114.398422,Manual,Petrol,1,18495.0
468,2017.0,48571.0,1.4L,123.274162,Manual,Petrol,2,11995.0
469,2020.0,9584.0,1.0L,93.688363,Manual,Petrol,1,19970.0
470,2019.0,17303.0,1.0L,114.398422,Manual,Petrol,1,17195.0

In [37]:
df.columns = ["Yil","Mil","Motor","PS","Vites","Yakit","Sahip","Fiyat(£)"]
df

        Yil       Mil Motor          PS      Vites   Yakit  Sahip  Fiyat(£)
0    2018.0   44000.0  1.6L  114.398422     Manual  Diesel      1   14995.0
1    2016.0   42596.0  1.0L   93.688363     Manual  Petrol      3   10755.0
2    2015.0   42700.0  1.4L  123.274162     Manual  Petrol      2   10799.0
3    2014.0   86000.0  1.6L  103.550296     Manual  Diesel      3    7490.0
4    2014.0  104310.0  1.6L  103.550296     Manual  Diesel      3    7400.0
..      ...       ...   ...         ...        ...     ...    ...       ...
466  2014.0   40195.0  1.4L  138.067061  Automatic  Petrol      3   11275.0
467  2020.0   26218.0  1.0L  114.398422     Manual  Petrol      1   18495.0
468  2017.0   48571.0  1.4L  123.274162     Manual  Petrol      2   11995.0
469  2020.0    9584.0  1.0L   93.688363     Manual  Petrol      1   19970.0
470  2019.0   17303.0  1.0L  114.398422     Manual  Petrol      1   17195.0

[471 rows x 8 columns]

In [39]:
df["Motor"] = df["Motor"].str.replace("L","")
df["Motor"] = pd.to_numeric(df["Motor"])

In [41]:
df.head()

      Yil       Mil  Motor          PS   Vites   Yakit  Sahip  Fiyat(£)
0  2018.0   44000.0    1.6  114.398422  Manual  Diesel      1   14995.0
1  2016.0   42596.0    1.0   93.688363  Manual  Petrol      3   10755.0
2  2015.0   42700.0    1.4  123.274162  Manual  Petrol      2   10799.0
3  2014.0   86000.0    1.6  103.550296  Manual  Diesel      3    7490.0
4  2014.0  104310.0    1.6  103.550296  Manual  Diesel      3    7400.0

In [43]:
df = pd.get_dummies(df,columns = ["Vites","Yakit"],drop_first=True)
df.head()

,Yil,Mil,Motor,PS,Sahip,Fiyat(£),Vites_Manual,Yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,True,False
1,2016.0,42596.0,1.0,93.688363,3,10755.0,True,True
2,2015.0,42700.0,1.4,123.274162,2,10799.0,True,True
3,2014.0,86000.0,1.6,103.550296,3,7490.0,True,False
4,2014.0,104310.0,1.6,103.550296,3,7400.0,True,False

In [45]:
df[["Vites_Manual", "Yakit_Petrol"]] = df[["Vites_Manual", "Yakit_Petrol"]].astype(int) # get_dummies ile true falseye dönüştürdüğümüz sütunları
df                                                                                      # 0 ve 1 lere dönüştürdük

,Yil,Mil,Motor,PS,Sahip,Fiyat(£),Vites_Manual,Yakit_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,1,0
1,2016.0,42596.0,1.0,93.688363,3,10755.0,1,1
2,2015.0,42700.0,1.4,123.274162,2,10799.0,1,1
3,2014.0,86000.0,1.6,103.550296,3,7490.0,1,0
4,2014.0,104310.0,1.6,103.550296,3,7400.0,1,0
...,...,...,...,...,...,...,...,...
466,2014.0,40195.0,1.4,138.067061,3,11275.0,0,1
467,2020.0,26218.0,1.0,114.398422,1,18495.0,1,1
468,2017.0,48571.0,1.4,123.274162,2,11995.0,1,1
469,2020.0,9584.0,1.0,93.688363,1,19970.0,1,1
470,2019.0,17303.0,1.0,114.398422,1,17195.0,1,1

In [47]:
df.columns

Index(['Yil', 'Mil', 'Motor', 'PS', 'Sahip', 'Fiyat(£)', 'Vites_Manual',
       'Yakit_Petrol'],
      dtype='object')

In [49]:
y = df["Fiyat(£)"]
x = df.drop(["Fiyat(£)"],axis=1)

In [51]:
l = LinearRegression()
model = l.fit(x,y)

In [53]:
model.predict([[2017,30000,1.6,110,1,0,1]])

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([14757.27109463])

In [55]:
model.score(x,y)

0.9110559159967575